@import url('../style.css');



.metade{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

p{
   color: var(--cinza);
   font-size: 20px;
   font-family: var(--fonte-principal);

}

p::selection{
    background-color: var(--cor-principal);
    font-weight: bolder;
}

.sessao_p {
    max-width: 50%; /* Ocupa metade da largura disponível */
    padding: 20px; 
    text-align: left;
}

.sessao_i {
    max-width: 50%; /* Ocupa metade da largura disponível */
    padding: 20px;
}

.fotos {
    width: 100%; /* A imagem ocupará a largura completa do container */
    max-width: 380px;
    height: auto; 
}

@media (max-width: 600px) {
    .metade {
        flex-direction: column; 
        height: auto;
        gap: 10px; 
        padding: 10px;
    }

    .sessao_p, .sessao_i {
        max-width: 100%; 
        padding: 10px;
        text-align: center; 
    }

    .fotos {
        max-width: 100%; 
        height: auto; 
    }

    p{
        font-size: 15px;
    }
}