@import url('../style.css');

.metade{
    display: flex;
    max-width: 100%; /* Ajuste conforme necessário */
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

p{
   color: var(--cinza);
   font-size: 20px;
   font-family: var(--fonte-principal);

}

p::selection{
    background-color: var(--cor-principal);
    font-weight: bolder;
}

.sessao_p{
    max-width: 50%;
    padding: 100px;
    text-align: left;
}
.sessao_i{
    max-width: 50%;

    
}

.fotos{
    width: 380px;
}
